.selectable {
  li {
    position: relative;

    .mark {
      display: none;
      font-weight: bold;
      position: absolute;
      right: 10px;
      font-size: 1.5em;
      top: 4px;
    }
  }

  &.markable li.active .mark {
    display: initial;
  }
}
