<div class="clinics">
  <search title="'clinics'"
          query="$ctrl.query">
  </search>
  <selectable-list items="$ctrl.items"
                   filter="$ctrl.query"
                   selected="$ctrl.selected"
                   on-select="$ctrl.onSelect({ id })"
                   on-delete="$ctrl.onDelete({ id })"
                   on-revert="$ctrl.onRevert({ id })"
                   deletable="true">
  </selectable-list>
  <button class="new-clinic"
          ng-click="$ctrl.onNew()">
    Add new
  </button>
</div>
